[flake8]
exclude =
    venv,
    .venv,
    __pycache__,
    notebooks,
    .git,
    docs/source/conf.py,
    old,
    build,
    dist,
    deprecated
max-line-length = 120
max-complexity = 10
extend-ignore =
    E203,
    F401,
per-file-ignores =
    # imported but unused
    __init__.py: F401,F403,E402