torch
torchvision
timm
transformers
tqdm
optuna
scikit-learn
scipy
jinja2
Pillow
matplotlib
autoflake==2.0.1
autopep8==2.0.1
black==22.10.0
build==0.10.0
gradio==3.20.1
notebook==6.5.3
pylint==2.15.5
pyod==1.0.8
pytest-timeout==2.1.0
pytest-xdist==3.0.2
seaborn==0.12.2
sphinx-autodoc2==0.4.2
twine==4.0.2
uri-template==1.2.0
